@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-sidebar {
  overflow: auto;
  margin-left: 10px;
}

.li-side {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 1em;
  display: flex;
  font-weight: bold;
  padding: 0.5em;
  margin-left: -0.5em;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  text-align: center;
}

.li-side:before, .li-side:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid crimson;
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.li-side:before {
  width: 1em;
  transform-origin: left;
}

.li-side:after {
  width: 82%;
  left: 1em;
  transform: translateX(110%);
}

.li-side:hover:before {
  transform: scaleX(0.3);
}

.li-side:hover:after {
  transform: translateX(0);
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

.tableau {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60%;
  border-collapse: collapse;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.tableau:hover {
  box-shadow: crimson 0px 0px 40px 0px;
  cursor: pointer;
}

/* Cacher l'input file par défaut */
.input-file {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #282B2A;
  cursor: pointer;
  border-radius: 10px;
  /* padding-right: 7px; */
}

.file-label:hover {
  background-color: #5B98D2;
}
/* 'relative inline-flex items-center justify-center font-medium rounded-full text-sm p-0.5 mb-3 text-white group bg-gradient-to-br from-secondary to-carbon-blue group-hover:from-secondary group-hover:carbon-blue '; */

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
